<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<title>Irina Brown | Photography &amp; Lifestyle</title>
    <meta name="copyright" content="Copyright <%=Time.now.year%> Irina Brown - PhotoSomething.com" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="Coverage" content="UK, CA, USA"/>
    <meta name="Content-Language" content="en"/>
    <meta name="robots" content="all" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <script type="text/javascript" src="http://use.typekit.com/inp3gku.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" href="css/galleriffic-2.css" type="text/css">
		<link rel="stylesheet" href="css/screen.css" type="text/css">
	</head>
<body>

	<div id="page">
		<div id="container">
			<h1 class="header">
			  <a href="index.html" title="Back to Homepage">Irina Brown</a>
			  <span class="block">
		      <span>01206 577456</span>
		      <span><a href="mailto:ig@photosomething.com" title="Email me at ig@photosomething.com">ig@photosomething.com</a></span>
		    </span>
			</h1>

			<h2 class="nav"><a href="photography.html" title="View Studio Photography gallery">Studio Photography</a> &amp; <a href="lifestyle.html" title="View Lifestyle gallery">Lifestyle</a></h2>

			<div class="banners">
		    <div id="photography" class="banner">
		      <a href="photography.html" title="View Studio Photography gallery">Studio Photography</a>
		    </div>
		    <div id="lifestyle" class="banner">
		      <a href="lifestyle.html" title="View Lifestyle gallery">Lifestyle</a>
		    </div>
			</div>

			<div id="thumbs" class="navigation">
			</div>

			<div style="clear: both;"></div>
		</div>

	</div>

	<div id="footer">Copyright &copy; <%=Time.now.year%> <a href="mailto:ig@photosomething.com" title="Email me at photosomething.com">photosomething.com</a></div>

	<script type="text/javascript" src="js/jquery-1.6.min.js"></script>

	<script type="text/javascript">
		document.write('<style>.noscript { display: none; }</style>');
		$(".banners .banner").css("cursor", "pointer").click(function() {
		  window.location.replace($(this).find("a").attr("href"));
		});
	</script>
	
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-393335-28");
  pageTracker._trackPageview();
  } catch(err) {}</script>

</body>
</html>